@using CloudSalesEntity.Manage.Report
@{
    ViewBag.Title = "首页";
    int ind=0;
    List<string> colorList = new List<string>() { "#4197e7", "#4ab3dd", "#35c6c7", "#97d3cb" };
    List<ClientsBaseEntity> logRPT = (List<ClientsBaseEntity>)ViewBag.LogRPT;
    string clientanum = "0";
    ClientsDateEntity client = (ClientsDateEntity) ViewBag.GrowRPT;
    if (client != null)
    {
        clientanum = client.Value.ToString();
    }
}
@section css{
    <link href="/modules/css/home.css" rel="stylesheet"/>
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
}


@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/controls.js"], function (vitality) {
            vitality.init();
        }); 
    </script>
}
<div class="header-box">
    <span class="header-title">控制台</span>
</div>
<div class="content-body">

    <ul class="tagdivul">
         @foreach (CloudSalesEntity.Menu entity in (List<CloudSalesEntity.Menu>)ViewBag.Menus)
        {
            <li style="background-color: @colorList[ind]">
                <a href="/@(entity.Controller)/@(entity.View)" class="center  font18">
                    <div class="bolder"> <i class="iconfont mRight10 colorfff" style="font-size: @(entity.Sort == 3 ||  entity.Sort ==4 ? "20pt" : "22pt");">&#@(ind == 0 ? "xe624;" : ind == 1 ? "xe636" : ind == 2 ? "xe604" : "xe610")</i>
                        <span class="colorfff font18">@entity.Name</span> 
                    </div>
                    <p class="mTop10 font10 colorfff">  
                        @(entity.MenuCode == "201000000" ? "昨天新增":entity.MenuCode == "203000000" ? "昨日登陆" :entity.MenuCode == "205000000" ? "昨日反馈": "")
                        <br/>
                          @(entity.MenuCode == "201000000" ?  "客户数(" + clientanum + ") 订单数("+ViewBag.OrderNum+")":entity.MenuCode == "205000000" ?  "新增(" + ViewBag.FeedAllNum.ToString() + ") 待处理(" + ViewBag.FeedNum.ToString() + ")" :entity.MenuCode == "203000000" ?"客户数(" + (logRPT.Count > 0 ? logRPT[2].Items[0].Value.ToString() : "0") + ") 人数(" + (logRPT.Count > 0 ? logRPT[1].Items[0].Value.ToString() : "0") + ")" : "")
                    </p>
                </a>
            </li>
            ind++;
        } 

         
       
    </ul>
 
    <div id="systemVitalityRPT" class="source-box" style="display:block">

    </div>

</div>